# 00_DataMunge_v2

Volunteer Ireland DataDive Spring 2015

### Join tables into 2 separate indexes:
## Opportunities -> Applications
### and
## Opportunities -> Placements

In [1]:
## Interactive magics - comment out if running from another script
%matplotlib inline
%qtconsole --colors=linux --ConsoleWidget.font_size=12 --ConsoleWidget.font_family='Consolas'

In [2]:
import sqlite3
import string
# import re
import numpy as np
import pandas as pd
# import patsy as pt

pd.set_option('display.mpl_style', 'default')
pd.set_option('display.notebook_repr_html', True)
np.random.seed(0)

In [32]:
cnx = sqlite3.connect('data/volunteerireland_datadive2015.db')

# Read Data

## Opportunities

In [4]:
dfoppsaltm = pd.read_excel('data/df_oppsaltm.xlsx') #dtype={'GEOGID':str,'GEOGTYPE':str,'GEOGDESC':str})
dfoppsaltm.rename(columns=lambda x: 'opp_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfoppsaltm['opp_id'] = np.arange(dfoppsaltm.shape[0])
print(dfoppsaltm.shape)
dfoppsaltm.head().T

(35494, 29)

,0,1,2,3,4
opp_created_date,2015-05-14 00:00:00,2015-05-13 00:00:00,2015-05-12 00:00:00,2015-05-12 00:00:00,2015-05-12 00:00:00
opp_volunteer_opportunity_id,a00D000000a2hWM,a00D000000a2fnU,a00D000000a2ejO,a00D000000a2edf,a00D000000a2ecw
opp_organisation_id,001D000001hzVeF,001D000001hzHbI,001D000001hz3rh,001D000001hz1WN,001D000001hz175
opp_organisation_name,Involve Salthill,Bloom Fringe,Make-A-Wish Ireland,Knockatallon Community Development,Multiple Sclerosis Society of Ireland
opp_volunteer_opportunity_volunteer_opportunity,Cycle group leader,Festival Steward - City Centre,County Volunteer Wish Team,Road Marshalling for Fundraising Event,a companion to a person with multiple sclerosis
opp_activity_that_reflects_opportunity,Sports/out door activities/Coaching,Events and stewarding,Support and Key working,Events and stewarding,Befriending/Mentoring
opp_volunteer_bureau,Galway,Dublin City,Dun Laoghaire/Rathdown,Monaghan,Dublin City
opp_county,Galway,Dublin,Dublin,Monaghan,Dublin
opp_morning,NaN,Saturday,Monday; Tuesday; Wednesday; Thursday; Friday; ...,NaN,NaN
opp_afternoon,NaN,Saturday,Monday; Tuesday; Wednesday; Thursday; Friday; ...,NaN,Monday; Tuesday; Wednesday; Thursday; Friday; ...
opp_evenings,Monday; Tuesday; Wednesday; Thursday; Friday,Friday; Saturday,Monday; Tuesday; Wednesday; Thursday; Friday; ...,NaN,Monday; Tuesday; Wednesday; Thursday; Friday; ...
opp_level_of_english_required_for_role,Basic English,Intermediate English,NaN,Basic English,Intermediate English
opp_can_you_involve_volunteers_with,NaN,NaN,Physical Disability,NaN,Physical Disability
opp_age_restrictions_picklist,No age restrictions,Over 15,Over 23,Over 18,No age restrictions
opp_age_restrictions,NaN,NaN,NaN,NaN,NaN
opp_which_volunteer_supports_do_you_provide,Support/ advice/ recognition; Supervision; Ini...,NaN,Support/ advice/ recognition; Initial inductio...,Support/ advice/ recognition; Supervision; Ins...,Support/ advice/ recognition; Supervision; Ini...
opp_hours_per_week_required,2,NaN,NaN,NaN,1
opp_hours_per_week_required_recurrence,Weekly,Once off,NaN,NaN,Weekly
opp_minimum_commitment_required,3 months,Once Off,Flexible,NaN,1 year
opp_publish_direct_contact,0,1,0,0,0
opp_active,0,1,0,0,0
opp_number_of_volunteers_required,2,20,5,10,1
opp_automatic_de-activation_date,2015-06-30 00:00:00,2015-05-31 00:00:00,2016-07-16 00:00:00,2015-08-12 00:00:00,2015-08-12 00:00:00
opp_publish_date,NaN,2015-05-14 00:00:00,NaN,NaN,NaN
opp_skills_required,Fitness/ Health/ Beauty,Event management/ Fundraising; Personable Skills,Hospitality/ Befriending; Personable Skills; Y...,NaN,Personable Skills
opp_skills/qualities_necessary,Good communication skills; motivational skills...,No specific skills but a willingness to engage...,"Skills required are friendly manner, listening...",NaN,someone who likes dogs! and could befriend the...
opp_suitable_for_corporates/groups,Yes,Yes,Yes,Yes,No
opp_benefits_to_volunteer,The volunteer will gain experience in both co-...,NaN,NaN,NaN,contact from a person living with multiple scl...
opp_id,0,1,2,3,4

## Orgs

In [5]:
dforgs = pd.read_excel('data/df_orgs.xlsx')
dforgs.rename(columns=lambda x: 'org_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dforgs['org_id'] = np.arange(dforgs.shape[0])
print(dforgs.shape)
dforgs.head()

(7764, 16)

,org_created_date,org_organisation_id,org_organisation_name,org_county,org_local_area__dublin,org_aims_of_organisation,org_volunteer_bureau,org_organisation_status,org_cause_of_organisation,org_how_did_you_hear_about_our_service,org_which_best_describes_your_organisation,org_do_you_have_a_volunteer_policy,org_how_many_volunteers_do_you_involve,org_how_many_employees_are_in_your_org,org_how_do_you_manage_volunteers,org_id
0,2012-12-18,001D000000zg6AQ,Cork Job Club,Cork,NaN,Cork Job Club aims to expand awareness and hel...,Cork,Active,Unemployment,Word of Mouth,Registered Charity,No,less than 5 people,less than 5 people,We have a paid member of staff who is a part-t...,0
1,2012-08-14,001D000000tvhyQ,Knocknaheeny/Hollyhill Justice Project,Cork,NaN,The project's main focus is as a Garda Youth D...,Cork,Active,Social Inclusion,Word of Mouth,Registered Charity,Yes,less than 5 people,less than 5 people,We have a paid member of staff who is a full-t...,1
2,2007-01-23,00120000004o3iu,Lough Parish Meals On Wheels,Cork,NaN,To provide meals on wheels mainly to the elder...,Cork,Active,Older People/Active Retired,Word of Mouth,Registered Charity,No,5-10 people,less than 5 people,We have a volunteer who is responsible for Vol...,2
3,2012-10-02,001D000000w8uw9,Focus Ireland - Cork branch,Cork,NaN,Focus Ireland works to prevent people becoming...,Cork,Active,Homelessness/ Housing,Word of Mouth,Registered Charity,Yes,We currently do not involve volunteers,5-10 people,We have a paid member of staff who is a full-t...,3
4,2008-05-14,0012000000A4dWS,Cork Sports Partnership,Cork,NaN,The mission of Cork Sports Partnership is to i...,Cork,Active,Sports/Outdoor activities,Word of Mouth,Non Profit without Charity Number,Yes,We currently do not involve volunteers,5-10 people,Volunteer Management is shared between staff a...,4

## Applications

In [6]:
dfoppsapfr = pd.read_excel('data/df_oppsapfr.xlsx')
dfoppsapfr.rename(columns=lambda x: 'app_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfoppsapfr['app_id'] = np.arange(dfoppsapfr.shape[0])
print(dfoppsapfr.shape)
dfoppsapfr.head()

(110612, 10)

,app_volunteer_opportunity_applied_for_volunteer_opportunity_applied_for__name,app_volunteers_required,app_volunteer_opportunity_applied_for_created_date,app_volunteer_volunteer_id,app_volunteer_opportunity_applied_for_id,app_vop_name,app_volunteer_opportunity_applied_for,app_organisation_name,app_current_status_of_application,app_id
0,2015-188435,1,2015-05-05,00QD000000r6Ni2,a04D000000aYWaQ,a00D000000LNaRk,Family Law Mediators,The Guardian Children's Project,Registered interest in this Opp,0
1,2015-188434,1,2015-05-05,00QD000000prM1r,a04D000000aYWaL,a00D000000a2Gym,Community Engagement Team Member,BlueFire,Registered interest in this Opp,1
2,2015-188433,4,2015-05-05,00QD000000QofvS,a04D000000aYWaG,a00D000000a2KoB,Darkness Into Light Walk 2015,Pieta House - Darkness into Light,Passed on details to organisation,2
3,2015-188432,5,2015-05-05,00QD000000r5HY5,a04D000000aYWaB,a00D000000WZTvk,Information Liason Officer,EnGage Kildare,Registered interest in this Opp,3
4,2015-188431,1,2015-05-05,00QD000000r6NO0,a04D000000aYWa6,a00D000000LLe1w,Douglas Tidy Towns Volunteer,Douglas Tidy Towns,Details of contact passed to volunteer,4

In [7]:
# print(dfoppsapfr.loc[pd.isnull(dfoppsapfr['volunteer:_volunteer_id'])].shape)
# dfoppsapfr.groupby(['volunteer:_volunteer_id']).size().order()[-20:]

In [8]:
# dfoppsapfr.groupby(['volunteer:_volunteer_id']).size().order().plot(figsize=(10,4))

## Placements

In [9]:
dfplc = pd.read_excel('data/df_plc.xlsx')
dfplc.rename(columns=lambda x: 'plc_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfplc['plc_id'] = np.arange(dfplc.shape[0])
print(dfplc.shape)
dfplc.head()

(39821, 12)

,plc_place_volunteer_connector,plc_volunteer_id,plc_place_volunteer_id,plc_place_volunteer_created_date,plc_volunteer_opportunity_created_date,plc_volunteer_opportunity_record_id,plc_volunteer_registered_centre,plc_organisation,plc_volunteer_hours,plc_volunteer_opportunity_volunteer_centre,plc_volunteer_opportunity_volunteer_opportunity,plc_id
0,v-10825,00Q2000000E7TXM,a012000000QQACg,2009-11-30,2007-10-30,a0020000004lHjP,Kildare,The Bridge CDP,104,Kildare,Homework Club Mentor CDP,0
1,v-33133,00QD000000ekhy5,a01D000000lWTIj,2013-10-14,2011-09-15,a00D000000IOigU,Offaly,Birr Mentality Handicapped Association,12,NaN,Support Worker,1
2,v-40009,00QD000000XHKN2,a01D000000rEETh,2014-11-18,2013-08-06,a00D000000Q5juz,Dun Laoghaire/Rathdown,Society of St. Vincent de Paul - SVP Dublin Re...,104,Dublin City,Volunteer for Society of Saint Vincent de Paul...,2
3,v-11012,00Q2000000E83Nm,a012000000QQTTv,2009-12-10,2009-05-08,a002000000AkGnM,Dun Laoghaire/Rathdown,Making Connections,20,NaN,Web Design,3
4,v-11994,00Q2000000BAHaT,a012000000Sapby,2010-03-09,2009-01-14,a0020000009dQuO,Sligo,Irish Therapy Dogs,52,Sligo,Pet Visitor,4

## Volunteers

In [10]:
dfvol = pd.read_excel('data/df_vol.xlsx')
dfvol.rename(columns=lambda x: 'vol_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfvol['vol_id'] = np.arange(dfvol.shape[0])
print(dfvol.shape)
dfvol.head()

(103035, 22)

,vol_volunteer_id,vol_create_date,vol_how_long_do_you_wish_to_volunteer_for,vol_age_group,vol_why_do_you_want_to_volunteer_now,vol_volunteer_status,vol_method_of_contact_with_volunteer,vol_face_to_face,vol_gender,vol_nationality,...,vol_volunteered_before,vol_volunteer_bureau,vol_local_area__dublin,vol_volunteer_recruitment_method,vol_activity_you_are_interested_in,vol_cause_you_are_interested_in,vol_skills_qualities,vol_skills_profile,vol_county,vol_id
0,00Q2000000E7wXL,2009-11-09,NaN,36-49,Recently made redundant,Registered,NaN,NaN,Male,Irish,...,No,Galway,NaN,Internet Search,NaN,NaN,"Worked in computer support for over 11 years, ...",NaN,NaN,0
1,00Q2000000Hl336,2010-05-19,NaN,16-25,Free time,Registered Interest,Contact by phone/internet,Appointment,Male,Zimbabwean,...,No,Cork,NaN,Internet Search,NaN,NaN,Ecdl -Coumputer course retail experience kitc...,NaN,NaN,1
2,00QD000000NXhm2,2011-05-17,NaN,50-59,Work Experience,Registered,Contact by phone/internet,NaN,Female,Nigerian,...,No,South Dublin County,NaN,Internet Search,Administrative/Office work,Carers,Practical Care Skills\nManual Handling Skills\...,NaN,Dublin,2
3,00QD000000QoUOG,2011-11-17,NaN,26-35,Because I was asked,Registered,NaN,NaN,Male,Irish,...,Yes,Galway,NaN,Word of Mouth/Referred by another agency,NaN,NaN,Various.,NaN,NaN,3
4,00QD000000Uye1D,2012-07-04,NaN,26-35,Free time,Registered,Contact by phone/internet,NaN,Female,Irish,...,No,South Dublin County,NaN,Word of Mouth/Referred by another agency,NaN,NaN,I have worked in administration in the offices...,NaN,NaN,4

---

---

## Create 2 denormalised tables based on workflow

# Opportunities -> Applications

## 1. Join org info onto opportunities

In [11]:
df1 = pd.merge(dfoppsaltm[['opp_id','opp_organisation_id','opp_volunteer_opportunity_id']]
               ,dforgs[['org_id','org_organisation_id']]
               ,how='left', left_on='opp_organisation_id', right_on='org_organisation_id')
print(df1.shape)
df1.tail().T

(35494, 5)

,35489,35490,35491,35492,35493
opp_id,35489,35490,35491,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000008JCru,a0020000008JCrQ,a002000000ECPC7,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN

## 2. Join applications onto opportunities

In [12]:
df2 = pd.merge(df1
               ,dfoppsapfr[['app_id','app_vop_name','app_volunteer_volunteer_id']]
               , how='left', left_on='opp_volunteer_opportunity_id', right_on='app_vop_name')
print(df2.shape)
df2.tail().T

(128023, 8)

,128018,128019,128020,128021,128022
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,102944,103806,104935,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN

## 3. Join volunteers onto applications

In [13]:
dfvol_apfr = dfvol.copy()
dfvol_apfr.rename(columns={'vol_id':'vol_id_app','vol_volunteer_id':'vol_volunteer_id_app'}
                  , inplace=True)

df3 = pd.merge(df2
               ,dfvol_apfr[['vol_id_app','vol_volunteer_id_app']]
               ,how='left', left_on='app_volunteer_volunteer_id', right_on='vol_volunteer_id_app')
print(df3.shape)
df3.tail().T

(128023, 10)

,128018,128019,128020,128021,128022
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,102944,103806,104935,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN
vol_id_app,64135,11658,55262,67205,NaN
vol_volunteer_id_app,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN

In [14]:
dfapplications = df3.copy()

---

# Opportunities -> Placements

## 1. Join org info onto opportunities

In [15]:
df1 = pd.merge(dfoppsaltm[['opp_id','opp_organisation_id','opp_volunteer_opportunity_id']]
               ,dforgs[['org_id','org_organisation_id']]
               ,how='left', left_on='opp_organisation_id', right_on='org_organisation_id')
print(df1.shape)
df1.tail().T

(35494, 5)

,35489,35490,35491,35492,35493
opp_id,35489,35490,35491,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000008JCru,a0020000008JCrQ,a002000000ECPC7,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN

## 2. Join placements onto opportunities

In [16]:
df2 = pd.merge(df1
               , dfplc[['plc_id','plc_volunteer_opportunity_record_id','plc_volunteer_id']]
               , how='left'
               , left_on='opp_volunteer_opportunity_id'
               , right_on='plc_volunteer_opportunity_record_id')
print(df2.shape)
df2.tail().T

(62259, 8)

,62254,62255,62256,62257,62258
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
plc_id,15676,16379,16466,17186,NaN
plc_volunteer_opportunity_record_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
plc_volunteer_id,00QD000000Vwgmn,00Q20000001Rrkq,00Q200000025Waa,00Q200000025i0n,NaN

## 3. Join volunteers onto placements

In [17]:
dfvol_plc = dfvol.copy()
dfvol_plc.rename(columns={'vol_id':'vol_id_plc','vol_volunteer_id':'vol_volunteer_id_plc'}, inplace=True)

df3 = pd.merge(df2
               ,dfvol_plc[['vol_id_plc','vol_volunteer_id_plc']]
               ,how='left', left_on='plc_volunteer_id', right_on='vol_volunteer_id_plc')
print(df3.shape)
df3.tail().T

(62259, 10)

,62254,62255,62256,62257,62258
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
plc_id,15676,16379,16466,17186,NaN
plc_volunteer_opportunity_record_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
plc_volunteer_id,00QD000000Vwgmn,00Q20000001Rrkq,00Q200000025Waa,00Q200000025i0n,NaN
vol_id_plc,46896,21517,21937,24163,NaN
vol_volunteer_id_plc,00QD000000Vwgmn,00Q20000001Rrkq,00Q200000025Waa,00Q200000025i0n,NaN

In [18]:
dfplacements = df3.copy()

---

# Write to DB

## Original Tables

In [33]:
dfoppsaltm.to_sql('dfopp', cnx, if_exists='replace')
dforgs.to_sql('dforg', cnx, if_exists='replace')
dfoppsapfr.to_sql('dfapp', cnx, if_exists='replace')
dfplc.to_sql('dfplc', cnx, if_exists='replace')
dfvol.to_sql('dfvol', cnx, if_exists='replace')

## Joining Tables

In [34]:
dfapplications.to_sql('vi_merge_app', cnx, if_exists='replace')

In [35]:
dfplacements.to_sql('vi_merge_plc', cnx, if_exists='replace')

## Full denormalised tables for ease of use

#### Join opportunities info

In [22]:
dfda = pd.merge(dfapplications, dfoppsaltm, how='left', left_on='opp_id', right_on='opp_id')
print(dfda.shape)

(128023, 38)

#### Join org info

In [23]:
dfda = pd.merge(dfda, dforgs, how='left', left_on='org_id', right_on='org_id')
print(dfda.shape)

(128023, 53)

#### Join applications info

In [24]:
dfda = pd.merge(dfda, dfoppsapfr, how='left', left_on='app_id', right_on='app_id')
print(dfda.shape)

(128023, 62)

#### Join info about the volunteer who made the application

In [25]:
dfda = pd.merge(dfda, dfvol, how='left', left_on='vol_id_app', right_on='vol_id')
print(dfda.shape)

(128023, 84)

---

#### Join opportunities info

In [26]:
dfdp = pd.merge(dfplacements, dfoppsaltm, how='left', left_on='opp_id', right_on='opp_id')
print(dfdp.shape)

(62259, 38)

#### Join org info

In [27]:
dfdp = pd.merge(dfdp, dforgs, how='left', left_on='org_id', right_on='org_id')
print(dfdp.shape)

(62259, 53)

#### Join opps info

In [28]:
dfdp = pd.merge(dfdp, dfplc, how='left', left_on='plc_id', right_on='plc_id')
print(dfdp.shape)

(62259, 64)

#### Join info about the volunteer who was placed

In [29]:
dfdp = pd.merge(dfdp, dfvol, how='left', left_on='vol_id_plc', right_on='vol_id')
print(dfdp.shape)

(62259, 86)

---

In [36]:
dfda.to_sql('full_denormalised_table_app', cnx, if_exists='replace')
dfdp.to_sql('full_denormalised_table_plc', cnx, if_exists='replace')

In [31]:
dfda.to_csv('data/full_denormalised_table_app.csv')
dfdp.to_csv('data/full_denormalised_table_plc.csv')

---